@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  background-color: #ffffff;
  max-width: 100vw;
}
header {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 1rem 4rem;
  z-index: 1;
}
header nav {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
header a {
  text-decoration: none;
  padding: 0.5rem;
  color: #7c9473;
  font-family: "Lato", sans-serif;
  transition: all 0.3s;
  border-radius: 0.5rem;
}

header :is(a:hover, a:active) {
  background-image: linear-gradient(#f3ffee 70%, #00bcff);
}
header > div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
header :is(button:first-child, button:nth-child(2)) {
  display: flex;
  flex-direction: row;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  overflow: hidden;
  padding: 0.7rem;
}
header button:last-child, .seventh-article > div button,.newsletter button {
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  background-color: #7c9473;
  color: #ffffff;
  border: none;
  font-family: "Lato", sans-serif;
}
header button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
header p {
  background: linear-gradient(to right, #7c9473, #00bcff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Playfair", sans-serif;
  font-weight: 800;
  font-size: 1.3rem;
}

.first-article {
  padding: 3rem;
  background-color: #fcfffb;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}
.up-image{
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 25vw;
}
.first-article h1 {
  font-size: 3rem;
  font-family: "Playfair", sans-serif;
  font-weight: 700;
  color: #404A3C;
}
.first-article h1 span {
  color: #00bcff;
}
.first-article1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Lato", sans-serif;
  color: #a3af9e;
}
.first-article1 button:first-child {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding: 0.5rem 1.5rem;
  background-color: #7c9473;
  align-items: center;
  justify-content: start;
  border: none;
  border-radius: 1.5rem;
  overflow: hidden;
  color: #FFFFFF;
}

.first-article1 button:nth-child(2),.fifth-article > button {
  border: 1px solid #7c9473;
  padding: 0.5rem 1.5rem;
  background-color: transparent;
  border-radius: 1.5rem;
}
.first-article1 > div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.first-article1 > div > div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.first-article2 {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 60vh;
  gap: 1rem;

  overflow: hidden;
}
.image-sec {
  overflow: hidden;
  position: relative;
  border-radius: 1rem;
}
.image-sec img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-sec div {
  position: absolute;
  background-color: #EFEEE4;
  border-radius: 1rem;
  padding: 0.3rem 0.7rem;
  top: 0.5rem;
  left: 0.5rem;
}
.image-sec p {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
}
.grid-first {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  gap: 1rem;
  overflow: hidden;
}
.grid-first .image-sec:nth-child(3) {
  grid-column: span 2;
}
.first-article3{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.second-article{
  padding: 3rem;
}
.second-article1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.second-article1 h2{
  font-size: 2.3rem;
  font-family: "Playfair",sans-serif;
  color: #404A3C;
  font-weight: 600;
}
.second-article1 p{
  font-size: 0.9rem;
  font-family: "Lato",sans-serif ;
  color: #7C9473;
}
.second-article1 div:first-child{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.second-article1 div:last-child{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 0.5rem 0.7rem;
  border: 1px solid #7C9473 ;
  border-radius: 1.5rem;
}
.second-article1 button{
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 50%;
  background-color: #7C9473;
}
.second-article nav{
  padding: 2rem ;  
  display: flex;
  flex-direction: row;
  margin: 2rem 0;
  border-top: 1px solid #EFEEE4;
  border-bottom: 1px solid #EFEEE4;
  gap: 1rem;
}
.second-article nav a{
  text-decoration: none;
  color: #A3AF9E;
}
.second-article2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  justify-content: space-between;
  gap: 1rem;
}
.cart-sec{
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.cart-sec > div:first-child{
  height: 200px;
  overflow: hidden;
  border-radius: 1rem;

}
.cart-sec > div:first-child img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cart-sec2{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.cart-sec2 > div p{
  font-size: 0.7rem;
  font-family: "Lato",sans-serif;
  color: #7C9473;
  font-weight: 400;
}
.cart-sec2 > div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.cart-sec2 > div button{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding: 0.3rem 1rem;
  background-color: #7C9473;
  align-items: center;
  justify-content: start;
  border: none;
  border-radius: 1.5rem;
  overflow: hidden;
  color: #FFFFFF;
  font-size: 0.8rem;
}
.cart-sec2 p:nth-child(2){
  font-family: "Playfair",sans-serif;
  font-weight: 600;
  font-size: 1rem
}
.cart-sec2 p:last-child{
  font-family: "Lato",sans-serif;
  font-size: 1rem;
  color: #7C9473;
}
.third-article{
  padding: 4rem;
  background-color: #FCF9F2;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  position: relative;
  z-index: 1;
}
.third-article > div{
  overflow: hidden;
  height: 60vh;
  width: 70vh;
  border-radius: 1rem;
}
.third-article section{
  padding: 3rem 0;
  display: flex;
  flex-direction: column ;
  justify-content: space-between;
  align-items: start;
}
.third-articleimg{
  width: 25vw;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
}
.third-article div img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.third-article p{
  font-size: 0.9rem;
  font-family: "Lato",sans-serif;
  color: #A3AF9E;
  font-weight: 400;
  line-height: 1.6rem;
}
.third-article h2{
  font-size: 3rem;
  font-family: "Playfair",sans-serif;
  font-weight: 600;
  color: #404A3C;
}
.third-article button{
    padding: 0.7rem 1.3rem;
  border-radius: 1.5rem;
  background-color: #7c9473;
  color: #ffffff;
  border: none;
  font-family: "Lato", sans-serif;
}
.fifth-article{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem ;
  text-align: center;
  gap: 1.5rem;
}
.fifth-article h2{
  font-family: "Playfair",sans-serif;
  font-weight: 600;
  color: #404A3C;
  font-size: 2rem;
}
.fifth-article > p{
  width: 50%;
  color: #A3AF9E;
  font-family: "Lato",sans-serif;
  font-size: 0.8rem;
}
.fifth-article > section{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}
.comments{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: start;
    width: 400px;
}
.comments > div:first-child{
  height: 280px;
  border-radius: 1rem;
  overflow: hidden;
}
.comments > div:last-child{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.comments img,.love > div:first-child img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.comments p:first-child{
  font-weight: 600;
  color: #000000;
  font-family: "Playfair",sans-serif;
  font-size: 0.9rem;
}
.comments p:nth-child(2){
  font-size: 0.8rem;
  color: #A3AF9E;
  font-family: "Lato",sans-serif;
  font-weight: 400;
}
.commentsinner{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.commentsinner > div:first-child{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
}
.commentsinner > div:last-child{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.2rem 0;
}
.commentsinner p:first-child{
  color: #7C9473;
  font-size: 0.8rem;
  font-family: "Lato",sans-serif;
  font-weight: 400;
}
.commentsinner p:last-child{
  color: #A3AF9E;
  font-size: 0.7rem;
}
.fifth-article > button {
  border: 1px solid #7c9473;
  padding: 0.7rem 1.1rem;
  background-color: transparent;
  border-radius: 1.5rem;
  color: #7C9473;
}
.sixth-article{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2.5rem 4rem;
  background-color: #7C9473;
  color: #FFFFFF;
  font-family: "Lato",sans-serif;
  font-size: 0.8rem;
  gap: 1.5rem;
}
.sixth-article h2{
  font-size: 2.5rem;
  font-family: "Playfair",sans-serif;
  color: #FFFFFF;
  font-weight: 600;

}

.sixth-article div{
  display: flex;
  flex-direction: column;
  gap: 1rem;
    align-items: center;
}

.seventh-article{
  padding: 5rem 10rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
 .seventh-article > div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  line-height: 1.3rem;
 }
 .seventh-article > div > div{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #A3AF9E;
  font-size: 0.8rem;
  font-family: "Lato",sans-serif;
 }
 .seventh-article h2{
  color: #404A3C;
  font-size: 1.9rem;
  font-family: "Playfair",sans-serif;
 }
.seventh-article > section{
  display: grid;
  grid-template-columns: repeat(3,250px);
  justify-content: space-between;
  gap: 1rem;
  
}
.seventh-article section > div{
  width: 250px;
  background-color: #FCFCFA;
  height: 200px;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 0.8rem;
  font-family: "Lato",sans-serif;
  color: #A3AF9E;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  position: relative;
}

.love{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
.love > div:first-child{
  height: 35px;
  width: 35px;
  overflow: hidden;
  border-radius: 50%;
}
.love > div:last-child{
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.love > div:last-child img{
  height: 15px;
}
.comma{
  position: absolute;
  top: 1rem;
  right: 1rem;
  height: 35px;
}
.eight-article{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 4rem;
  font-size: 0.8rem;
  color: #A3AF9E;
  font-family: "Lato",sans-serif;
}
.eight-article a{
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}
.eight-article h2{
  font-family: "Playfair",sans-serif;
  color: #404A3C;
  font-size: 2.3rem;
}
.eight-article nav{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 2rem 1rem;
}
.eight-article section{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1rem;
}
.eight-article section div{
  border: 1px solid #EFEEE4;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 0.5rem;
  align-items: center;
}
.eight-article section img{
  height: 70%;
}
.nineth-article{
  background-color: #7C9473;
}
.nineth-article > div{
  display: flex;
  flex-direction: row;
  overflow: hidden;
  padding: 1rem 0;
  gap: 1rem;
  text-wrap: nowrap;
  align-items: center;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 0.9rem;
  font-family: "Lato",sans-serif;
}
.nineth-article > div img{
  height: 25px;
}
.nineth-article1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5rem 4rem;
  border-top: 1px dashed #EFEEE4;
  border-bottom: 1px dashed #EFEEE4;
  align-items: center;
}
.nineth-article1 > div{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.nineth-article1 h1{
  font-family: "Playfair",sans-serif;
  font-weight: 800;
  font-size: 5rem;
  color: #FFFFFF;
}
.nineth-article1 > div div{
  width: 40px;
  height: 40px;
  background-color: #FFFFFF;
  display: grid;
  place-content: center;
  border-radius: 50%;
}
.nineth-article1 > div img{
  height: 20px;
}
.nineth-article2{
  display: flex;
  flex-direction: row;
  padding: 2rem 4rem;
  border-bottom: 1px dashed #ffffff;
  align-items: center;
  justify-content: space-between;
}
.nineth-article2 a{
  text-decoration: none;
  font-size: 0.9rem;
  color: #FFFFFF;
  font-family: "Lato",sans-serif;

}
.nineth-article2 nav{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.newsletter{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.newsletter > div{
    background-color: #FCFCFA;
  border: 1px solid #ffffff;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 0.3rem;
  border-radius: 1.5rem;
}
.newsletter input{
  background-color: transparent;
  outline: none;
  border: none;
  border-right: 1px solid #EFEEE49E;
  padding-left: 1rem;
}
.newsletter input::placeholder{
  color: #A3AF9E;
  font-family: "Lato",sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
}
.nineth-article .newsletter button{
  font-size: 0.8rem;
}